$write:#fff;
$color:rgb(247, 247, 247);
$width:100%;
$width1:208px;
$auto:1200px;
$height:450px;
$font12:12px;
$font14:14px;
$font16:16px;
$font18:18px;
$font20:20px;
$pad:10px;
$pricecolor:#f86a00;
$a:#333;
$title:#303030;
$more:#999;
.application {
    width: $width;
    background-color: $color;
    padding-top: $pad*3;
}

.application-center {
    width: $auto;
    height: $height;
    margin: 0 auto;
}