.cart {
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.cart-center {
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cart-top {
    width: 100%;
    height: 50px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    font: 14px / 50px 微软雅黑;
    padding: 10px 0px;
    display: flex;
    text-align: center;
}

.col2 {
    width: 480px;
    margin-left: 110px;
    text-align: left;
}

.col3 {
    width: 100px;
}

.col4 {
    width: 190px;
}

.col5 {
    width: 110px;
}

.col6 {
    width: 160px;
}

.cart-main {
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
}

.cart-main_1 {
    padding: 20px 50px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #dedede;
    display: flex;
    a {
        color: #333;
    }
}

.virtual {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    display: block;
    background-color: #ff5e5e;
    margin-left: 60px;
    margin-right: 5px;
}

.cart-main_2 {
    padding: 20px 0 20px 60px;
    display: flex;
    input {
        width: 20px;
        height: 20px;
    }
    a {
        margin-left: 20px;
        color: #333;
    }
}

.cart-main_3 {
    padding: 0 60px;
    .list-table {
        border: 1px solid #dedede;
    }
}

.list_ul {
    border-bottom: 1px dashed #dedede;
    .col1 {
        width: 20px;
        input {
            width: 20px;
            height: 20px;
        }
    }
    .col2 {
        padding: 20px 0 20px 60px;
        .pic {
            width: 100px;
            height: 100px;
            float: left;
            margin-right: 10px;
            img {
                width: 100px;
                height: 100px;
                border: 1px solid #ccc;
            }
        }
        .info {
            width: 330px;
            margin-top: 10px;
            margin-right: 10px;
            a {
                color: #333;
            }
            a:hover {
                color: #ff4400;
            }
        }
    }
    .col4 {
        width: 138px;
    }
    .col5 {
        width: 110px;
        text-align: right;
        color: #ff7f00;
    }
    .del {
        text-align: center;
        color: #333;
        display: block;
    }
}

.changeBox {
    border: 1px solid #dedede;
    display: flex;
    .minus,
    .add {
        width: 34px;
        height: 34px;
        background: #f0f0f0;
        text-align: center;
        color: #333;
        font-size: 25px;
        font-weight: bold;
    }
    .num {
        width: 70px;
        height: 32px;
        background: #fff;
        text-align: center;
        color: #333;
        border: none;
        font-size: 14px;
    }
    .enable:hover {
        color: #ff7f00;
    }
}

.cart-main_4 {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    .cart-main_4-lf a {
        font-size: 14px;
        color: #666666;
        line-height: 50px;
    }
    .cart-main_4-rg {
        display: flex;
        .numtips {
            padding: 0 20px;
            line-height: 50px;
            .totalnum {
                font-style: normal;
                color: #ff9500;
            }
        }
        .total {
            padding: 0 20px;
            line-height: 50px;
            .price {
                color: #ff9500;
                font: bold 24px "Arial";
                vertical-align: middle;
            }
            em {
                font-style: normal;
            }
        }
        a {
            width: 180px;
            height: 50px;
            text-align: center;
            float: right;
            background: #e5e5e5;
            font: 16px/50px "微软雅黑";
            color: #9c9c9c;
            text-decoration: none;
            color: #ffffff;
            display: block;
        }
    }
}