$write:#fff;
$color:rgb(247, 247, 247);
$width:100%;
$width1:208px;
$auto:1200px;
$height:420px;
$height1:58px;
$height2:360px;
$imgsize:164px;
$imgsize1:145px;
$height3:222px;
$font12:12px;
$font14:14px;
$font16:16px;
$font18:18px;
$font20:20px;
$pad:10px;
$pricecolor:#f86a00;
$a:#333;
$title:#303030;
$more:#999;
.card {
    width: $width;
    background-color: $color;
    padding-top: $pad*3;
}

.card-center {
    width: $auto;
    height: $height;
    margin: 0 auto;
}

.card-title {
    display: flex;
    justify-content: space-between;
    h1 {
        font-size: $font20;
        color: $title;
        font-weight: normal;
    }
    a {
        font-size: $font14;
        color: $more;
        line-height: $pad*3;
        display: flex;
        span {
            background: url(../imgages/sprite.png) no-repeat 0 0;
            width: $font20 - 1px;
            height: $pad + 1px;
            margin-left: $pad;
            display: block;
            align-self: center;
        }
    }
}

.card-pro {
    margin-top: $font16;
    display: flex;
    a {
        margin-right: $font16;
        width: $width1 + 20px;
        height: $height2;
        border: 1px solid #fff;
        background: #fff;
        img {
            width: $width1 - 11px;
            height: $width1 - 18px;
            margin: 0 auto;
        }
        h3 {
            font-size: $font16;
            color: $a;
            margin: $pad*3 0 $pad $pad*3;
        }
        p {
            font-size: $font14;
            color: $more;
            margin-bottom: $pad - 2px;
            margin-left: $pad*3;
        }
        span {
            font-size: $font14;
            color: $pricecolor;
            margin-left: $pad*3;
            margin-bottom: $pad*6;
            display: block;
        }
    }
    a:hover {
        border-color: #ff9500;
    }
}

.card-pro>a:nth-child(1) img {
    width: 100%;
    height: 100%;
}

.card-pro>a:nth-child(5) {
    margin-right: 0;
}

.card-pro>a:nth-child(3) span,
.card-pro>a:nth-child(4) span {
    margin-bottom: $pad*4;
}