$headercolor:rgb(50, 52, 54);
$write:#fff;
$color:rgb(247, 247, 247);
$width:100%;
$width1:200px;
$auto:1200px;
$height:400px;
$font12:12px;
$font14:14px;
$font16:16px;
$font18:18px;
$pad:20px;
$a:#989898;
$circle:12px;
%size1 {
    display: block;
    width: 19px;
    height: 16px;
    background: url(..//imgages/nav-icon.png) no-repeat;
}

.nav-lunbo {
    width: $width;
    background-color: $color;
    position: relative;
}

.nav-lunbo-center {
    width: $auto;
    height: $height + 30px;
    margin: 0 auto;
    display: flex;
}

.nav {
    width: $width1 + 30px;
    height: $height + 30px;
    background-color: $headercolor;
}

.nav-list {
    font-size: $font16;
    li {
        margin-top: 1px;
        height: ($height/10) + 7px;
        display: flex;
        justify-content: space-between;
        a {
            margin-top: 1px;
            color: $write;
            display: block;
            width: $width1 + 30px;
            height: ($height/10) + 7px;
            line-height: ($height/10) + 7px;
            display: flex;
            margin-left: 30px;
            span {
                margin-right: 5px;
            }
        }
    }
}

@for $num from 7 to 9 {
    .span_#{$num} {
        @extend %size1;
        background-position: 0 0;
    }
}

@for $num from 1 to 3 {
    .span_#{$num} {
        @extend %size1;
        background-position: 0 -16px*$num;
    }
}

.span_3 {
    @extend %size1;
    background-position: 0 -67px;
}

.span_4 {
    @extend %size1;
    background-position: 0 -84px;
}

.span_5 {
    @extend %size1;
    background-position: 0 -101px;
}

.span_6 {
    @extend %size1;
    background-position: 0 -118px;
}

.span_9 {
    @extend %size1;
    background-position: 0 -135px;
}

@for $num from 1 to 10 {
    .span_#{$num} {
        align-self: center;
    }
}

@for $num from 1 to 10 {
    .i_#{$num} {
        display: block;
        width: 10px;
        height: 14px;
        background: url(http://mobile.snail.com/static/common/images/arrow.png) no-repeat 0 0;
        align-self: center;
        margin-right: 40px;
    }
}

.lunbo {
    position: relative;
    img {
        width: $auto - 230px;
        height: $height + 30px;
        position: absolute;
        top: 0;
        left: 0;
    }
    @for $num from -1 to 5 {
        .lunbo_#{$num} {
            top: 0;
            left: ($auto - 230px)*$num;
            display: none;
        }
    }
    .lunbo_show {
        display: block;
    }
}

.circle-write {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: $auto - 180px;
    span {
        display: block;
        width: $circle;
        height: $circle;
        background: url(../imgages/sprite.png) no-repeat 0 -41px;
        margin-left: 10px;
        cursor: pointer;
    }
}